body
{
    background-color: white;
}
.forma
{
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 10px 4px rgba(2, 15, 12, 0.2);
}
.create-label
{
    font-size: large ;
    font-family: "Times New Roman";
}